@import '../../res'

@media (min-width: 1300px)
  header
    z-index: 3
    padding-top: 53px
    padding-bottom: 48px
    position: relative
  .title
    background: transparent
    padding-top: 20px
    padding-bottom: 57px
    font-size: 60px
    font-weight: 400
    line-height: 1

@media screen and (max-width: 996px) 
  .navbar-nav 
      text-align: right
      display: flex
      flex-direction: row
      justify-content: center
    

@media screen and (max-width: 770px)
    .navbar-nav 
        text-align: right
        display: flex
        flex-direction: row
        justify-content: center
    

@media screen and (max-width: 640px) 
    #welcome-button 
        padding: 0
    
    .navbar-nav 
        text-align: right
        display: flex
        flex-direction: column

@media screen and (max-width: 320px)
  html
    width: 320px !important
    .navbar-nav 
        text-align: right
        display: flex
        flex-direction: column


header
  margin: auto
  max-width: 1254px
