.footerB
  margin-top: 5%
  margin-bottom: 5%
  display: flex
  width: 100%

  img
    height: 30px
    width: 20%

  div
    width: 60%
    text-align: center


    a
      margin-left: 5px
      background: transparent

    svg
      width: 24px
      height: 24px

  h1
    font-size: 20px
    width: 20%